.cart-cont{
    margin: 60px;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;

}
@import url('https://fonts.googleapis.com/css2?family=Petemoss&family=Pridi:wght@200&display=swap');

.cart-img{
   
  margin: 11px;
    width: 150px;
    height: 180px;
    border-radius: 5%;
    border:  solid 2px #EBD29A;
    

}
.card-info{
    text-align: center;
    color: rgb(10, 60, 78);
    font-size: 18px;
    font-family: Pridi;
}
.continue{
    font-size: 50px;
    color: rgb(0, 41, 60);
    background: burlywood;
    border-radius: 8px;
}